$font-16: 1em;
$cor-hover: #cfaca4;

body {
  margin: 0;
  overflow-y: hidden;
}

a:hover {
  color: $cor-hover;
  fill: $cor-hover;
  transition: 0.2s;
}

.container {
  width: 1100px;
  margin: 0 auto;
  max-width: 100vw;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-sb {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
  background-color: white;
  position: relative;
  z-index: 999999;
  h1 {
    width: 220px;
  }
  a, span {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: $font-16;
    color: black;
  }
  a {
    text-decoration: none;
    letter-spacing: 3px;
  }
  span {
    margin: 0 10px;
  }
  #social-media-up, #social-media-down {
    flex-direction: row;
    a {
      padding: 0px 5px;
      margin: 0 3px;
      svg {
        height: 16px;
      }
    }
  }
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body {
  margin: 0;
}
div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 100vw;
  float: left;
  height: 100vh;
  object-fit: cover;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

#social-media-down {
  display: none;
}

@media (max-width: 1150px) {
  .container {
    width: 260px;
  }
  header {
    #menu {
      flex-direction: column;
      padding: 10px 0;
      nav {
        flex-direction: column;
        .menu-1, .menu-2 {
          margin-bottom: 15px;
        }
        .divisao {
          display: none;
        }
      }
      #social-media-up {
        display: none;
     }
    }
  }

  .bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 56px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    #social-media-down {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      a {
        svg {
        height: $font-16;
        }
      }
    }
  }
}
