body {
  margin: 0;
  overflow-y: hidden; }

a:hover {
  color: #cfaca4;
  fill: #cfaca4;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.container {
  width: 1100px;
  margin: 0 auto;
  max-width: 100vw; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

header {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
  background-color: white;
  position: relative;
  z-index: 999999; }
  header h1 {
    width: 220px; }
  header a, header span {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 1em;
    color: black; }
  header a {
    text-decoration: none;
    letter-spacing: 3px; }
  header span {
    margin: 0 10px; }
  header #social-media-up, header #social-media-down {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    header #social-media-up a, header #social-media-down a {
      padding: 0px 5px;
      margin: 0 3px; }
      header #social-media-up a svg, header #social-media-down a svg {
        height: 16px; }

@-webkit-keyframes slidy {
  0% {
    left: 0%; }
  20% {
    left: 0%; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -300%; }
  95% {
    left: -300%; }
  100% {
    left: -400%; } }

@keyframes slidy {
  0% {
    left: 0%; }
  20% {
    left: 0%; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -300%; }
  95% {
    left: -300%; }
  100% {
    left: -400%; } }

body {
  margin: 0; }

div#slider {
  overflow: hidden; }

div#slider figure img {
  width: 100vw;
  float: left;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover; }

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  -webkit-animation: 30s slidy infinite;
  animation: 30s slidy infinite; }

#social-media-down {
  display: none; }

@media (max-width: 1150px) {
  .container {
    width: 260px; }
  header #menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 0; }
    header #menu nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      header #menu nav .menu-1, header #menu nav .menu-2 {
        margin-bottom: 15px; }
      header #menu nav .divisao {
        display: none; }
    header #menu #social-media-up {
      display: none; }
  .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 56px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    .bg #social-media-down {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 70%; }
      .bg #social-media-down a svg {
        height: 1em; } }
